<% if notice %>
  <div class="alert alert-info"><%= notice %></div>
<% end %>

<%= render 'list', title: 'Active Customers', customers: @active_customers, create: true %>

<% if @inactive_customers.length > 0 %>
  <%= render 'list', title: 'Inactive Customers', customers: @inactive_customers %>
<% end %>
